<div id="donation">
  <p>If you enjoy Splashbox, please consider making a one-time donation of $2.</p>
  <p>This helps me cover server costs and continued improvements to the service.</p>
  <p><a href="https://gumroad.com/l/DAmj">Make a Donation</a></p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#donation').addClass('animated fadeInUp');
  });
</script>
